<h2>よくある質問作成フォーム</h2>
<%= form_with model: @question,url: admins_questions_path,method: :post do |f| %>
  Q:<%= f.text_area :question %><br/>
  A:<%= f.text_area :answer %>
  <%= f.submit '作成',class: "btn btn-info" %>
<% end %>

<h2>よくある質問一覧</h2>

<% @questions.each do |question| %>
  <table class="table">
    <tr>
      <th>質問</th>
      <td><%= question.question %></td>
    </tr>
    <tr>
      <th>回答</th>
      <td>
        <%= question.answer %>
      </td>
    </tr>
    <tr>
      <th></th>
      <td>
        <%= link_to '編集する',edit_admins_question_path(question),method: :get, class: "btn btn-info" %>
        <%= link_to '削除',admins_question_path(question),method: :delete,class: "btn btn-danger","data-confirm" => "本当に削除しますか？" %>
      </td>
    </tr>
  </table>
<% end %>
