<h2>解決済質問</h2>
<table class="table table-bordered">
  <tr>
    <th>名前</th>
    <th>質問日時</th>
    <th>内容</th>
    <th>担当者</th>
    <th>ステータス</th>
    <th>最新対応日時</th>
  </tr>
  <% @resolves.each do |inquiry| %>
    <tr>
      <td>
        <%= link_to admins_user_path(inquiry.user),data: {"turbolinks" => false} do%>
        <%= inquiry.user.name %>
        <% end %>
      </td>
      <td><%= inquiry.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td>
        <%= link_to admins_question_path(inquiry),data: {"turbolinks" => false} do%>
          <%= inquiry.content %>
        <% end %>
      </td>
      <td><%= inquiry.staff %></td>
      <td><%= inquiry.status %></td>
      <td><%= inquiry.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
  <% end %>
</table>
<%= paginate @resolves %>

<%= link_to '未解決質問', admins_questions_inquiry_index_path,class: "btn btn-info" %>

<%= link_to '対応中質問', admins_questions_working_on_index_path,class: "btn btn-info" %>

