<div class="row">
<h4>セット商品詳細</h4>
  <%= form_with model: @cart_item,url:users_cart_items_path(@combo.id),method: :post,local: true do |f| %>
    <%= f.hidden_field :combo_id, :value => @combo.id %>
      <% if user_signed_in? %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
      <% end %>

      <div class="col-md-6">
        <%= attachment_image_tag @combo ,:combo_image,:fill,300,300, fallback:"no_image.jpg" %>
      </div>
      <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
              <th>セット名</th>
              <td><%= @combo.name %></td>
            </tr>

            <tr>
              <th>商品説明</th>
              <td><%= @combo.introduction %></td>
            </tr>
            <tr>
              <th>価格/1日</th>
              <td>100円</td>
            </tr>
            <tr>
              <th>ステータス</th>
              <% if @combo.status %>
                <td>販売中</td>
              <% else %>
                <td>売切</td>
              <% end %>
            </tr>
            <% if user_signed_in? %>
              <tr>
                <th>お気に入り</th>
                <td>
                  <%= render 'users/combo_favorites/favorite',combo: @combo %>
                </td>
              </tr>
              <tr>
                <th>いいね</th>
                <td>
                  <%= render 'users/combo_likes/like',combo: @combo %>
                </td>
              </tr>
              <tr>
               <th>個数</th>
               <td>
                 <%= f.select :quantity,[1,2,3,4,5,6,7,8,9,10] %>
               </td>
              </tr>
            <% end %>
        </table>
      </div>
        <% if @combo.status %>
          <%= f.submit 'カートに入れる',class: "btn btn-info", id: 'button', data: {"turbolinks" => false} %>
        <% else %>
          <div class="alert alert-danger">この商品は現在売切です</div>
        <% end %>
  <% end %>

<h4>コメント</h4>
<% if user_signed_in? %>
  <div id="comments_form">
    <%= render 'users/combo_comments/form',combo: @combo, comment: @comment %>
  </div>
<% end %>
  <div id="comments_area">
    <%= render 'users/combo_comments/index',comments: @comments %>
  </div>
</div>