<h2>マイページ</h2>
  <%= link_to '編集',edit_users_user_path(current_user),class: "btn btn-info" %>

<table class="table table-bordered">
  <tr>
    <th>profile画像</th>
    <td><%= attachment_image_tag @user ,:profile_image,:fill,200,200, fallback:"no_image.jpg" %></td>
  </tr>
  <tr>
    <th>名前<span class="label label-danger">必須</span></h2></th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>カナ<span class="label label-danger">必須</span></th>
    <td><%= @user.name_kana %></td>
  </tr>
  <tr>
    <th>男性<span class="label label-danger">必須</span></th>
    <td><%= @user.gender %></td>
  </tr>
  <tr>
    <th>郵便番号<span class="label label-danger">必須</span></th>
    <td><%= @user.zip_code %></td>
  </tr>
  <tr>
    <th>住所<span class="label label-danger">必須</span></th>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <th>電話番号<span class="label label-danger">必須</span></th>
    <td><%= @user.phone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス<span class="label label-danger">必須</span></th>
    <td><%= @user.email %></td>
  </tr>
</table>
<table class="table">

  <tr>
    <th>注文履歴</th>
    <td>
      <%= link_to '一覧を見る',users_orders_path,class: "btn btn-info" %>
    </td>
  </tr>
  
  <tr>
    <th>クレジット<span class="label label-danger">必須</span></th>
    <td>
      <%= link_to 'クレジット情報',users_pays_path,class: "btn btn-info" %>
    </td>
  </tr>

  <tr>
    <th>お問い合わせ</th>
    <td>
      <%= link_to 'お問い合わせ',users_questions_path,class: "btn btn-info" %>
    </td>
  </tr>

  <tr>
    <th>退会</th>
    <td>
      <%= link_to '退会する',users_users_confirm_path,class: "btn btn-danger" %>
    </td>
  </tr>
</table>