<% if current_user.phone_number.blank? || current_user.zip_code.blank? || current_user.address.blank? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>ユーザー必須項目が未記入です。設定 → 編集 から必須項目を記入してください</strong>
  </div>
<% end %>

<h2><%= current_user.name %>さんのページ</h2>

<% if current_user.status == false || current_user.is_deleted == true %>
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>あなたは無効会員または退会手続済会員です。画面をロックしています</strong>
</div>
    <h3>ご利用再開ご希望の方</h3>
      <h6>申請後、登録メールアドレスにてご対応させていただきます</h6>
        <% if current_user.is_deleted %>
          <%= form_with model: @user,url: users_path(current_user),method: :patch do |f| %>
            <%= f.submit '利用再開申請を送信',class: "btn btn-info","data-confirm" => "本当に利用再開申請を送信しますか？" %>
          <% end %>
        <% else %>
          <div class="alert alert-success"><a>利用再開申請中</a></div>
        <% end %>
<% else %>
  <%= link_to users_users_point_path do %>
    <p>現在の保有ポイント数:<%= @point %>pt</p>
  <% end %>

<h2>予約受付一覧</h2>
  <% if @reserves == [] %>
    <h4>現在、予約受付はありません</h4>
  <% end %>
  <% @reserves.each do |order|%>
    <table class="table table-bordered">
      <tr>
        <th class="info">受取予定日</th>
        <td><%= order.start_date %></td>
      </tr>

      <tr>
        <th class="info">商品</th>
        <td>
          <% order.order_records.each do |order_record| %>
            <% if order_record.combo_id == 1 %>
              <%= order_record.product.name %>
            <% else %>
              <%= order_record.combo.name %>
            <% end %>
          <% end %>
        </td>
      </tr>

    　<tr>
        <th class="info">レンタル期間</th>
        <td><%= order.day %>日間</td>
      </tr>

      <tr>
        <th class="info">受け取り場所</th>
        <td>
          <%= order.get_status %>
          <%= link_to '詳細',users_order_path(order) %>
        </td>
      </tr>

      <tr>
        <th class="info">予約をキャンセル</th>
        <td><%= link_to 'この注文をキャンセルする',users_order_path(order),method: :delete,data:{confirm: "本当にこの予約をキャンセルしますか？"},class: "btn btn-info" %></td>
      </tr>
  </table>
<% end %>

<h2>未返却物一覧</h2>
  <% if @lendings == [] %>
    <h4>現在、未返却物はありません</h4>
  <% end %>
  <% @lendings.each do |order|%>
    <div class="alert alert-warning">返却日を<strong>延滞の方は1,2</strong>を記入後、延滞情報送信を押してください。<br/>
    郵送返却のお客様は、<strong>郵送完了後、３,4</strong>を記入後郵送完了ボタンを押してください。
    </div>
      <table class="table table-bordered">
        <tr class="d3">
          <th class="danger">予定返却日</th>
          <td><%= order.finish_date %></td>
        </tr>

        <tr>
          <th class="danger">商品</th>
            <td>
              <% order.order_records.each do |order_record| %>
                <% if order_record.combo_id == 1 %>
                  <%= order_record.product.name %>
                <% else %>
                  <%= order_record.combo.name %>
                <% end %>
              <% end %>
            </td>
        </tr>

      　<tr>
          <th class="danger">レンタル期間</th>
          <td id="date"><%= order.day %>日間</td>
        </tr>

        <tr>
          <th class="danger">返却場所</th>
          <td>
            <% if order.return_status == 0 %>
              <%= order.get_status %>
            <% else %>
              <%= order.zip_code %>
              <%= order.address %>から郵送返却
            <% end %>
            </td>
        </tr>

      　<%= form_with model:order,url:users_order_path(order),method: :patch do |f| %>
          <tr>
            <th class="danger">1.郵送返却方法の変更(延滞ご希望の方)</th>
            <td id="radio_all">
              <%= f.radio_button :return_status,0 %>受取場所と同様<br/>
              <%= f.radio_button :return_status,1 %>現住所から郵送返却<br/>
              <%= current_user.zip_code %>
              <%= current_user.address %><br/>
              <%= f.radio_button :return_status,2 %>新しい住所から郵送返却<br/>
              <div class="form_class">
                <%= f.text_field :zip_code %>
                <%= f.text_field :address %><br/>
              </div>
            </td>
          </tr>

          <tr>
            <th class="danger">2.延滞をご希望の方はこちら(ご返却日時の選択)</th>
            <td id="setting">
              <div id="start_date"><%= order.start_date %></div>~
              <%= date_field_tag :finish_date,"",class: "finish_date",'data-start-date': order.start_date, 'data-finish-date': order.finish_date %>
              <%= f.submit '延滞情報送信',"data-confirm" => "返却日時を本当に変更しますか？変更した日付より前の日付には変更はできません",class: "btn btn-info update-button" %>
            </td>
          </tr>
        <% end %>

        <%= form_with model:order,url:users_order_path(order),method: :patch do |f| %>
          <tr>
            <th class="danger">3.郵送返却方法の変更(郵送返却完了の方)</th>
              <td id="radio_all">
                <%= f.radio_button :return_status,0 %>受取場所と同様<br/>
                <%= f.radio_button :return_status,1 %>現住所から郵送返却<br/>
                <%= current_user.zip_code %>
                <%= current_user.address %><br/>
                <%= f.radio_button :return_status,2 %>新しい住所から郵送返却<br/>
                <div class="form_class">
                  <%= f.text_field :zip_code %>
                  <%= f.text_field :address %><br/>
                </div>
              </td>
          </tr>
          <tr>
            <th class="danger">4:郵送返却完了の方はチェックと完了ボタンをPUSH!</th>
            <td>
              <%= f.radio_button :status,"郵送中",class: "order_status" %>ここをチェック
              <%= f.submit '郵送完了',data:{confirm: "本当に郵送を完了しましたか？"},class: "btn btn-info return-button" %>
              <%= link_to '詳細',users_order_path(order) %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<%= javascript_include_tag 'top' %>
