<h2>クレジット情報一覧</h2>

<%= form_with model: @creditcard,url:users_creditcards_path do |f| %>
  <table class="table table-bordered">
    <tr>
      <th>クレジット番号</th>
      <td><%= f.text_field :customer_id, id: "www", name: "www" %></td>
    </tr>

    <tr>
      <th>クレジット名義</th>
      <td><%= f.text_field :card_id, id: "www", name: "www" %></td>
    </tr>

  </table>
  <%= f.submit '新規登録',class: "btn btn-primary" %>
<% end %>

<table class="table table-bordered">
  <tr>
    <th>クレジット番号</th>
    <th>クレジット名義</th>
  </tr>
  <% @creditcards.each do |creditcard| %>
    <tr>
      <td><%= creditcard.customer_id %></td>
      <td><%= creditcard.card_id %></td>
      <td>
        <%= link_to '編集する',edit_users_creditcard_path(creditcard) %>
        <%= link_to '削除する',users_creditcard_path(creditcard) ,method: :delete,data:{confirm:"本当に削除しますか？"} %>
      </td>
    </tr>
    <% end %>
</table>