<h2>商品詳細</h2>

<div class="row">
  <%= form_with model:@cart_item,url:users_cart_items_path(@cart_item),method: :post do |f| %>
    <%= f.hidden_field :combo_id, :value => 1 %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <% if user_signed_in? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>

    <div class="col-md-6">
        <%= attachment_image_tag @product ,:product_image,:fill,300,300, fallback:"no_image.jpg", class: "img-fluid" %>
    </div>
    <div class="col-md-6">
     <table class="table table-bordered">
          <tr>
            <th>商品id</th>
            <td><%= @product.id %></td>
          </tr>

          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= @product.introduction %></td>
          </tr>

          <% unless @combo_item.nil? %>
            <tr>
              <th>価格/1日</th>
              <td>100円</td>
            </tr>
            <tr>
              <th>ステータス</th>
                <% @re_q = OrderRecord.where(combo_id: 1, product_id: @product.id, status: "予約受付中").sum(:quantity) %>
                <% @le_q = OrderRecord.where(combo_id: 1, product_id: @product.id, status: "貸出中").sum(:quantity) %>
                <% @tur_q = OrderRecord.where(combo_id: 1, product_id: @product.id, status: "郵送中").sum(:quantity) %>
                <% if @product.stock - @re_q.to_i - @le_q.to_i - @tur_q.to_i == 0 %>
                  <td>売切</td>
                <% else %>
                  <td>販売中</td>
                <% end %>
            </tr>
            <tr>
             <th>個数</th>
             <td>
               <%= f.select :quantity,[1,2,3,4,5,6,7,8,9,10] %>
             </td>
            </tr>
          <% end %>
        <% if user_signed_in? %>
          <% unless @combo_item.nil? %>
            <tr>
              <th>お気に入り</th>
              <td>
                <%= render 'users/favorites/favorite',product: @product %>
              </td>
            </tr>
          <% end %>
          <tr>
            <th>いいね</th>
            <td>
              <%= render 'users/likes/like',product: @product %>
            </td>
          </tr>
        <% end %>
    </table>
    <% if @combo_item.nil? %>
      <h4>こちらの単品注文は受け付けておりません</h4>
    <% else %>
      <%= f.submit 'カートに入れる',class: "btn btn-info", id: 
      'button', data: {"turbolinks" => false} %>
    <% end %>
  <% end %>

  <script>
    const status = $('#status').text();
    if(status == "売切"){
      document.getElementById("button").disabled = true;
      alert('この商品は売切のためカートに入れることはできません')
    }else{
      document.getElementById("button").disabled = false;
    }
  </script>

  <h4>コメント</h4>
  <% if user_signed_in? %>
    <div id="comments_form">
      <%= render 'users/product_comments/form', product: @product,comment: @comment %>
    </div>
  <% end %>
    <div id="comments_area">
      <%= render 'users/product_comments/index',comments: @comments %>
    </div>
