<h2>商品詳細</h2>

<div class="row">
  <%= form_with model:@cart_item,url:users_cart_items_path(@cart_item),method: :post do |f| %>
    <%= f.hidden_field :combo_id, :value => 1 %>
    <%= f.hidden_field :product_id, :value => @product.id %>
    <% if user_signed_in? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% else %>
      <%= f.hidden_field :user_id, :value => 1 %>
    <% end %>

    <div class="col-xs-6">
        <%= attachment_image_tag @product ,:product_image,:fill,300,300, fallback:"no_image.jpg" %>
    </div>
    <div class="col-xs-6">
     <table class="table table-bordered">
          <tr>
            <th>商品id</th>
            <td><%= @product.id %></td>
          </tr>

          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= @product.introduction %></td>
          </tr>

          <% unless @combo_item.nil? %>
            <tr>
              <th>価格/1日</th>
              <td>100円</td>
            </tr>
            <tr>
              <th>ステータス</th>
              <% @product_records = OrderRecord.where(product_id: @product.id) %>
              <% @product_records.each do |record| %>
                <% @quantity = record.quantity %>
              <% end %>
               <% if @product.stock.to_i - (@product_records.joins(:order).where(orders: {status: "予約受付中"}).count.to_i * @quantity.to_i) - (@product_records.joins(:order).where(orders: {status: "貸出中"}).count.to_i * @quantity.to_i) - (@product_records.joins(:order).where(orders: {status: "郵送中"}).count.to_i * @quantity.to_i) <= 0 %>
                  <td id="status">売切</td>
                <% else %>
                  <td id="status">販売中</td>
                <% end %>
            </tr>
            <tr>
             <th>個数</th>
             <td>
               <%= f.select :quantity,[1,2,3,4,5,6,7,8,9,10] %>
             </td>
            </tr>
          <% end %>
        <% if user_signed_in? %>
          <tr>
            <th></th>
            <td>
              <%= render 'users/favorites/favorite',product: @product %>
            </td>
          </tr>
          <tr>
            <th>いいね</th>
            <td>
              <%= render 'users/likes/like',product: @product %>
            </td>
          </tr>
        <% else %>
        <% end %>
    </table>
    <% unless @combo_item.nil? %>
      <%= f.submit 'カートに入れる',class: "btn btn-info", id: 
      'button', data: {"turbolinks" => false} %>
    <% end %>
  <% end %>

  <script>
    const status = $('#status').text();
    if(status == "売切"){
      document.getElementById("button").disabled = true;
      alert('この商品は売切のためカートに入れることはできません')
    }else{
      document.getElementById("button").disabled = false;
    }
  </script>

  <h4>コメント</h4>
  <% if user_signed_in? %>
    <div id ="comments_form">
      <%= render 'users/product_comments/form', product: @product,comment: @comment %>
    </div>
  <% else %>
  <% end %>
    <div id="comments_area">
      <%= render 'users/product_comments/index',comments: @comments %>
    </div>
