<h2>会員一覧画面</h2>
<h4>ユーザー検索</h4>
  <%= form_tag(search_admins_users_path, method: :get) do %>
    <%= select(@search_content, :search_method,[["部分一致","partial_match"],["前方一致","forward_match"],["後方一致","backward_match"],["完全一致","perfect_match"]]) %>

    <%= text_field(@search_content, :search) %>
    <%= submit_tag '検索',:name => nil %>
  <% end %>
<table class="table table-bordered">
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.name,admins_user_path(user) %>
    </td>
    <td><%= user.email %></td>

      <% if user.status %>
        <td>有効</td>
      <% else %>
        <td>無効</td>
      <% end %>
  </tr>
  <% end %>
</table>
</div>
<h4>利用再開申請ユーザー</h4>
<table class="table table-bordered">
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @users.each do |user| %>
    <% if user.is_deleted == false && user.status == false %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name,admins_user_path(user) %>
        </td>
        <td><%= user.email %></td>

          <% if user.status %>
            <td>有効</td>
          <% else %>
            <td>無効</td>
          <% end %>
      </tr>
    <% end %>
  <% end %>
 </table>
<h4>退会済ユーザー</h4>
<table class="table table-bordered">
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>
  <% @users.each do |user| %>
    <% if user.is_deleted == true %>
      <tr>
        <td><%= user.id %></td>
        <td><%= link_to user.name,admins_user_path(user) %>
        </td>
        <td><%= user.email %></td>

          <% if user.status %>
            <td>有効</td>
          <% else %>
            <td>無効</td>
          <% end %>
      </tr>
    <% end %>
  <% end %>
</table>