<div class="row">
<h2>セット商品一覧</h2>

<table class="table table-bordered">
  <tr>
    <th>セット検索</th>
    <th>価格</th>
    <th>個数選択</th>
    <th></th>
  </tr>
  <% @combos.each do |combo| %>

   <%= form_with model: @cart_item,url:users_cart_items_path(combo_id:combo.id),method: :post,local: true do |f| %>
     <%= f.hidden_field :combo_id, :value => combo.id %>
     <% if user_signed_in? %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>
        <tr>
          <td>
            <%= link_to "#{combo.name}",users_combo_items_path(combo_id: combo.id), data: {"turbolinks" => false}%>
            <% unless combo.id == 1 %>
              <%= link_to '詳細',users_combo_item_path(combo),class: "btn btn-info" %>
            <% end %>
          </td>
          <td><%= combo.price %></td>
          <% if combo.id != 1 %>
          <else>
            <td>
              <%= f.select :quantity,[1,2,3,4,5,6,7,8,9,10] %>個
            </td>
            <td>
              <%= f.submit 'カートに入れる',class: "btn btn-info" %>
            </td>
          <% end %>
        </tr>
    <% end %>
  <% end %>
</table>
</div>

<h2>セット内商品一覧</h2>
<table class="table table-bordered">
  <tr>
    <th>商品名</th>
    <th>商品画像</th>
    <th>販売ステータス</th>
    <th>セットステータス</th>
  </tr>

  <% @combo_items.each do |combo_item| %>
        <tr>
          <td>
            <%= link_to users_product_path(combo_item.product.id) do %>
              <%= combo_item.product.name %>
            <% end %>
          </td>
          <td><%= attachment_image_tag combo_item.product,:product_image,:fill,200,200, fallback:"no_image.jpg" %></td>
          <% @product_records = OrderRecord.where(product_id: combo_item.product.id) %>
          <% @product_records.each do |record| %>
            <% @quantity = record.quantity %>
          <% end %>
          
          <%# if combo_item.product.stock.to_i - (@product_records.joins(:order).where(orders: {status: "予約受付中"}).count.to_i * @quantity.to_i) - (@product_records.joins(:order).where(orders: {status: "貸出中"}).count.to_i * @quantity.to_i) - (@product_records.joins(:order).where(orders: {status: "郵送中"}).count.to_i * @quantity.to_i) <= 0 %>
            <!-- <td>売切</td> -->
          <%# else %>
            <!-- <td>販売中</td> -->
          <%# end %>

          <td><%= combo_item.combo.name %></td>
        </tr>
  <% end %>
</table>
</div>