<h2>クーポン編集画面</h2>

<h3>ジャンル</h3>
<%= form_with model: @discount,url:admins_discount_path do |f| %>
<table class="table">
  <tr>
    <th><%= f.label :クーポン名 %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :クーポン番号 %></th>
    <td><%= f.text_field :number %></td>
  </tr>
  <tr>
    <th><%= f.label :説明 %></th>
    <td><%= f.text_area :introduction %></td>
  </tr>
  <tr>
    <th><%= f.label :割引金額 %></th>
    <td><%= f.text_field :price %></td>
  </tr>
  <tr>
    <th>
      <%= f.label :最低日数 %>
    </th>
    <td><%= f.text_field :require_day %></td>
  </tr>
  <tr>
    <th><%= f.label :最低コンボ数 %></th>
    <td><%= f.text_field :require_combo %></td>
  </tr>
  <tr>
    <th><%= f.label :最低アイテム数 %></th>
    <td><%= f.text_field :require_item %></td>
  </tr>
  <tr>
    <th><%= f.label :期間 %></th>
    <td>
      <%= date_field_tag :start_date %>から<br/>
      <%= date_field_tag :finish_date %>０時まで
    </td>
  </tr>
  <tr>
    <th><%= f.label :ステータス %></th>
    <td>
      <%= f.radio_button :status,true %>
      <%= f.label :有効 %>

      <%= f.radio_button :status,false, checked: "checked" %>
      <%= f.label :無効 %>

    </td>
  </tr>
</table>


  <%= f.submit '変更を保存する',class:'btn btn-info' %>
  <% end %>