<h2>クーポン追加・一覧画面</h2>
<%= form_with model: @discount,url:admins_discounts_path,method: :post do |f| %>
<table class="table">
  <tr>
    <th><%= f.label :クーポン名 %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :クーポン番号 %></th>
    <td><%= f.text_field :number %></td>
  </tr>
  <tr>
    <th><%= f.label :説明 %></th>
    <td><%= f.text_area :introduction %></td>
  </tr>
  <tr>
    <th><%= f.label :割引金額 %></th>
    <td><%= f.text_field :price %></td>
  </tr>
  <tr>
    <th>
      <%= f.label :最低日数 %>
    </th>
    <td><%= f.text_field :require_day %></td>
  </tr>
  <tr>
    <th><%= f.label :最低コンボ数 %></th>
    <td><%= f.text_field :require_combo %></td>
  </tr>
  <tr>
    <th><%= f.label :最低アイテム数 %></th>
    <td><%= f.text_field :require_item %></td>
  </tr>
  <tr>
    <th><%= f.label :期間 %></th>
    <td>
      <%= date_field_tag :start_date %>から<br/>
      <%= date_field_tag :finish_date %>０時まで
    </td>
  </tr>
  <tr>
    <th><%= f.label :ステータス %></th>
    <td>
      <%= f.radio_button :status,true %>
      <%= f.label :有効 %>

      <%= f.radio_button :status,false, checked: "checked" %>
      <%= f.label :無効 %>

    </td>
  </tr>
</table>

  <%= f.submit '追加',class:'btn btn-info' %>
<% end %>

  <table class="table table-bordered">
    <tr>
      <th>クーポン名</th>
      <th>クーポン番号</th>
      <th>説明</th>
      <th>割引金額</th>
      <th>適応条件</th>
      <th>期間</th>
      <th></th>
      <th></th>
    </tr>

    <% @discounts.each do |discount| %>
      <tr>
        <td><%= discount.name %></td>
        <td><%= discount.number %></td>
        <td><%= discount.introduction %></td>
        <td><%= discount.price %>円</td>
        <td>
          日数:<%= discount.require_day %>日~<br/>
          コンボ数:<%= discount.require_combo %>セット~<br/>
          アイテム数:<%= discount.require_item %>アイテム~
        </td>
        <td>
          <%= discount.start_date %>から<br/>
          <%= discount.finish_date %>０時まで
        </td>
          <% if discount.status %>
            <td>有効</td>
          <% else %>
            <td>無効</td>
          <% end %>
        <td>
          <%= link_to '編集する',edit_admins_discount_path(discount.id),class: 'btn btn-info' %>
          <%= link_to '削除する',admins_discount_path(discount.id),method: :delete,data:{confirm: "本当に削除しますか？"},class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </table>
</div>