<h2>注文情報確認</h2>
  <table class="table">
    <tr>
      <th>注文者名</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>クレジットカード情報</th>
      <td>
        番号: <%= @pay.number %><br/>
        名義: <%= @pay.name %>
      </td>
    </tr>
    <tr>
      <th>受取場所</th>
      <td class="get_status"data-presence="<%= session[:order]["get_status"]%>"><%= session[:order]["get_status"] %></td>
    </tr>
    <tr>
      <th>返却場所</th>
      <td>
        <% if session[:order]["return_status"] == 0 %>
          <div class="return_status"data-presence="<%= session[:order]["get_status"] %>">
            <%= session[:order]["get_status"] %>
          </div>
        <% else %>
          <div class="return_status"data-zip_code="<%= session[:order]["zip_code"] %>"data-address="<%= session[:order]["address"] %>">
            <%= session[:order]["zip_code"] %>
            <%= session[:order]["address"] %>から郵送返却
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>利用期間</th>
      <td>
        <%= session[:order]["start_date"]%>~<%= session[:order]["finish_date"] %>
      </td>
    </tr>
    <tr>
      <th>レンタル期間</th>
      <td id="day"data-session-day="<%= session[:order]["day"] %>"><%= session[:order]["day"] %>日間</td>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th>商品名</th>
      <th>個数</th>
      <th>価格/1日</th>
    </tr>
    <% sum = 0 %>
    <% @cart_items.each do |item| %>
        <tr class="cart_item"data-presence="<%= item %>">
          <% if item.combo.id == 1 %>
              <%= link_to users_product_path(item.product) do %>
      　　　     <td><%= item.product.name %></td>
              <% end %>
              <td class="item_count" data-item-count="<%= item.quantity %>"><%= item.quantity %></td>
    　　　 <% else %>
              <%= link_to users_combo_items_path do %>
                <td><%= item.combo.name %></td>
              <% end %>
              <td class="combo_count" data-combo-count="<%= item.quantity %>"><%= item.quantity %></td>
          <% end %>
          <td><%= item.combo.price %></td>
        </tr>
      <% sum += (item.quantity).to_i * (item.combo.price).to_i %>
    <% end %>
  </table>

  <h4>クーポン</h4>
    <table class="table table-bordered">
      <tr>
        <%= form_tag(users_orders_confirm_path, method: :get, local: true) do %>
          <th>クーポン番号を入力(1注文につき１クーポンまで)
              <%= text_field(@search_content, :search) %>
              <%= submit_tag '適用',class: "btn btn-info",id: "discount-button" %>
          </th>
            <% if session["discount"].present? %>
              <td id="discount">
                <%= session["discount"]["name"] %>:
                <span id="discount-price" data-price="<%= session["discount"]["price"] %>" data-require-day="<%= session["discount"]["require_day"] %>" data-require-combo="<%= session["discount"]["require_combo"] %>" data-require-item="<%= session["discount"]["require_item"] %>">
                  <%= session["discount"]["price"] %>
                </span>円割引
                <%= submit_tag '削除',class: "btn btn-danger" %>
              </td>
            <% else %>
              <td>クーポン無し</td>
          <% end %>
        <% end %>
      </tr>
    </table>

  <%= form_with model: @order,url:users_orders_path,mothod: :post do |f| %>
    <table class="table table-bordered">
      <tr>
        <th>商品金額/1日あたり</th>
        <td><%= sum %></td>
      </tr>
      <tr>
        <th>商品合計金額</th>
        <td><%= sum.to_i * (session[:order]["day"]).to_i %></td>
      </tr>

      <tr>
        <th>ポイント利用(利用可能ポイント:<%= @point %>pt)</th>
        <td id="out_point">
          <%= f.radio_button :out_point, 0, id: "not_point",checked: "checked" %>使わない<br/>
          <%= f.radio_button :out_point, @point, id: "all_point" %>全部使う<br/>
          <%= f.radio_button :out_point, @part_point %>一部だけ使う(利用ポイント数記入）<br/>
          <%= f.text_field :out_point, id: "part_point" %>pt
        </td>
      </tr>
      
      <tr>
        <th>ポイントイベント(<%= @point_event.name %>)</th>
        <td id="bonus"data-point-bonus="<%= @point_event.bonus %>">ポイント<%= @point_event.bonus %>倍</td>
      </tr>
        <% final_sum = (sum.to_i * (session[:order]["day"]).to_i) %>
        <tr>
          <th>発行ポイント数</th>
          <td id="create_point"data-create-point="<%= ((sum.to_i * (session[:order]["day"]).to_i * @point_event.bonus.to_i) / 100).floor %>"><%= ((sum.to_i * (session[:order]["day"]).to_i * @point_event.bonus.to_i) / 100).floor %>pt</td>
        </tr>
    </table>

    <table class="table">
      <tr>
        <th>最終請求金額</th>
        <td id="sum"data-sum="<%= final_sum %>"><%= final_sum %></td>
      </tr>
    </table>
    <%= f.hidden_field :create_point, :value => ((sum.to_i * (session[:order]["day"]).to_i * @point_event.bonus.to_i)/ 100).floor.to_i, id: "create" %>
    <%= f.hidden_field :out_point, :value => 0, id: "out" %>

    <%= f.hidden_field :point_event, :value => @point_event.id %>

    <% if session["discount"].blank? %>
      <%= f.hidden_field :discount, :value => 2 %>
    <% elsif  %>
      <%= f.hidden_field :discount, :value => session["discount"]["id"] %>
    <% end %>


    <%= f.submit '注文を確定',class: "btn btn-danger",id: "button","data-confirm" => "注文を確定しますか？（利用日時や商品内容は正しいですか？) "%>
  <% end %>

<%= link_to '商品一覧に戻る',users_combo_items_path,class: "btn btn-info confirm-button", data: {"turbolinks" => false}%>

<%= javascript_include_tag 'order_confirm' %>