<h2>注文情報確認</h2>

<table>
  <tr>
    <th>注文者名</th>
    <td>檜垣　航</td>
  </tr>

  <tr>
    <th>日付</th>
    <td>12/23 3pm</td>
  </tr>

  <tr>
    <th>商品名</th>
    <td>ノーマルセット、ドライヤー</td>
  </tr>

  <tr>
    <th>クレジットカード情報</th>
    <td>１２３２４９−９−９ー</td>
  </tr>

  <tr>
    <th>受取場所</th>
    <td>成田空港</td>
  </tr>

  <tr>
    <th>返却方法</th>
    <td>受け取り場所に返却or 住所　から郵送</td>
  </tr>
</table>

<h3>檜垣さんへのおすすめ</h3>

<div class="recommend product">
  <%= 画像　%>
  <%= 名前 %>
  <%=価格 %>
  <%= この商品を追加 %>
</div>
<%= link_to '商品選択に戻る',users_products_path %>


<%= 購入確定 %>