<h2>注文情報確認</h2>

<%= form_with model: @cart_items,url:users_orders_path,mothod: :post do |f| %>
  <p>注文者名:<%= current_user.name %></p>
  <p>クレジットカード情報:<%= session[:order]["get_status"]  %></p>
  <p>受取場所:<%= session[:order]["get_status"] %></p>
  <p>返却場所:
    <%= session[:order]["zip_code"] %>
    <%= session[:order]["address"] %>
  </p>
  <p>利用期間:
    <%= session[:order]["start_date"]%>~
    <%= session[:order]["finish_date"] %>
  </p>
  <p>レンタル期間:<%= session[:order]["day"] %>日間</p>

    <table class="table table-bordered">
      <tr>
        <th>商品名</th>
        <th>個数</th>
        <th>価格/1日</th>
      </tr>
      <% @sum = 0 %>
      <% @cart_items.each do |item| %>
      <tr>
        <td>
            <% if item.combo.id == 1 %>
              <%= link_to users_product_path(item.product) do %>
      　　　     <%= item.product.name %>
              <% end %>
    　　　　 <% else %>
              <%= link_to users_combo_items_path do %>
               <%= item.combo.name %>
              <% end %>
          <% end %>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.combo.price %></td>
      </tr>
      <% @sum += (item.quantity).to_i * (item.combo.price).to_i %>
      <% end %>
    </table>

    <table class="table table-bordered">
      <tr>
        <th>合計金額/1日</th>
        <td><%= @sum %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @sum.to_i * (session[:order]["day"]).to_i %></td>
      </tr>

      <tr>
        <th>ボーナス</th>
          <% if session[:order]["day"] >= 5 %>
            <td>2000</td>
          <% elsif session[:order]["day"] >= 3  %>
            <td>1000</td>
          <% end %>
      </tr>
      <tr>
        <th>最終請求金額</th>
        <td><%= (@sum.to_i * (session[:order]["day"]).to_i) - 2000 %></td>
      </tr>
    </table>

    <%= f.submit '注文を確定',class: "btn btn-danger" %>
<% end %>

<h3><%= current_user.name %>さんへのおすすめ</h3>

<div class="recommend product">
  <%#= 画像'%>
  <%#= '名前' %>
  <%#='価格' %>
  <%#= 'この商品を追加' %>
</div>
<%= link_to '商品選択に戻る',users_combo_items_path %>


