<h2>注文情報確認</h2>
  <table class="table">
    <tr>
      <th>注文者名</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>クレジットカード情報</th>
      <td>
        番号: <%= Pay.find(session["pay"]).number %><br/>
        名義: <%= Pay.find(session["pay"]).name %>
      </td>
    </tr>
    <tr>
      <th>受取場所</th>
      <td class="get_status"data-presence="<%= session[:order]["get_status"]%>"><%= session[:order]["get_status"] %></td>
    </tr>
    <tr>
      <th>返却場所</th>
      <td>
        <% if session[:order]["return_status"] == 0 %>
          <div class="return_status"data-presence="<%= session[:order]["get_status"] %>">
            <%= session[:order]["get_status"] %>
          </div>
        <% else %>
          <div class="return_status"data-zip_code="<%= session[:order]["zip_code"] %>"data-address="<%= session[:order]["address"] %>">
            <%= session[:order]["zip_code"] %>
            <%= session[:order]["address"] %>
          </div>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>利用期間</th>
      <td>
        <%= session[:order]["start_date"]%>~<%= session[:order]["finish_date"] %>
      </td>
    </tr>
    <tr>
      <th>レンタル期間</th>
      <td><%= session[:order]["day"] %>日間</td>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr>
      <th>商品名</th>
      <th>個数</th>
      <th>価格/1日</th>
    </tr>
    <% @sum = 0 %>
    <% @cart_items.each do |item| %>
        <tr class="cart_item"data-presence="<%= item %>">
          <% if item.combo.id == 1 %>
              <%= link_to users_product_path(item.product) do %>
      　　　     <td><%= item.product.name %></td>
              <% end %>
              <td class="item_count" data-item-count="<%= item.quantity %>"><%= item.quantity %></td>
    　　　 <% else %>
              <%= link_to users_combo_items_path do %>
                <td><%= item.combo.name %></td>
              <% end %>
              <td class="combo_count" data-combo-count="<%= item.quantity %>"><%= item.quantity %></td>
          <% end %>
          <td><%= item.combo.price %></td>
        </tr>
      <% @sum += (item.quantity).to_i * (item.combo.price).to_i %>
    <% end %>
  </table>

  <h4>クーポン</h4>
    <table class="table table-bordered">
      <tr>
          <%= form_tag(users_orders_confirm_path, method: :get, remote: false) do %>
            <th>クーポン番号を入力
                <%= number_field(@search_content, :search) %>
                <%= submit_tag '適用',class: "btn btn-info",id: "discount-button",remote: false %>
            </th>
              <% unless @discount.blank? %>
                <td id="discount">
                  <%= @discount.name %>:
                  <span id="discount-price" data-price="<%= @discount.price %>" data-require-day="<%= @discount.require_day %>" data-require-combo="<%= @discount.require_combo %>" data-require-item="<%= @discount.require_item %>">
                    <%= @discount.price %>
                  </span>円割引
                  <%= submit_tag '削除',class: "btn btn-danger" %>
                </td>
              <% else %>
                <td>クーポン無し</td>
              <% end %>
          <% end %>
        </tr>
    </table>

  <%= form_with model: @order,url:users_orders_path,mothod: :post do |f| %>
    <table class="table table-bordered">
      <tr>
        <th>商品金額/1日あたり</th>
        <td><%= @sum %></td>
      </tr>
      <tr>
        <th>商品合計金額</th>
        <td><%= @sum.to_i * (session[:order]["day"]).to_i %></td>
      </tr>

      <tr>
        <th>ポイント利用(利用可能ポイント:<%= @point %>pt)</th>
        <td id="out_point">
          <%= f.radio_button :out_point, 0, id: "not_point",checked: "checked" %>使わない<br/>
          <%= f.radio_button :out_point, @point, id: "all_point" %>全部使う<br/>
          <%= f.radio_button :out_point, @part_point %>一部だけ使う(利用ポイント数記入）<br/>
          <%= f.text_field :out_point, id: "part_point" %>pt
        </td>

      </tr>
        <tr>
          <th>ポイントイベント(<%= @point_event.name %>)</th>
          <td class="bonus"data-point="<%= @point_event.bonus %>">ポイント<%= @point_event.bonus %>倍</td>
        </tr>
          <% @final_sum = (@sum.to_i * (session[:order]["day"]).to_i) %>
          <tr>
            <th>発行ポイント数</th>
            <td id="create_point"><%= ((@sum.to_i * (session[:order]["day"]).to_i * @point_event.bonus.to_i) / 100.to_i).floor %>pt</td>
          </tr>
        </table>

        <table class="table">
          <tr>
            <th>最終請求金額</th>
            <td id="sum"><%= @final_sum %></td>
          </tr>
        </table>
        <%# if @discount.blank? %>
          <%= f.hidden_field :create_point, :value => ((@sum.to_i * (session[:order]["day"]).to_i * @point_event.bonus.to_i)/ 100.to_i).floor.to_i, id: "create"%>
        <%# end %>

        <%= f.hidden_field :point_event, :value => @point_event.id %>

        <% if @discount.blank? %>
          <%= f.hidden_field :discount, :value => 2 %>
        <% else %>
          <%= f.hidden_field :discount, :value => @discount.id %>
        <% end %>

    <script type="text/javascript">
      if(!$('.cart_item').data()){
        alert ('カート商品がありません。追加してください')
      }

      if($('.get_status').data('presence') == "選択してください"){
        alert ('受取場所未入力です。購入情報画面からやり直しが必要です。')
      }

      if($('.return_status').data('zip_code') == []){
        alert ('返却場所の郵便番号が未記入です。購入情報画面からやり直しが必要です。')
      }else if($('.return_status').data('address') == [] ){
        alert ('返却場所の住所が未記入です。購入情報画面からやり直しが必要です。')
      }

      day = Number("<%= session[:order]["day"] %>");
      if(day == 0 ){
        alert ('レンタル期間の値が不正です。購入情報画面からやり直しが必要です。')
      }



      sum = Number(document.getElementById('sum').textContent);
      var create_point = Number("<%= ((@sum.to_i * (session[:order]["day"]).to_i * @point_event.bonus.to_i) / 100).floor %>");
      var day = Number("<%= session[:order]["day"] %>");
      var discount = 0;
      var point = 0;
      var final_sum = sum;
      if ($("#discount-price").length) {
        discount = Number($("#discount-price").data("price"));
        require_day = Number($("#discount-price").data("require-day"));
        require_combo = Number($("#discount-price").data("require-combo"));
        require_item = Number($("#discount-price").data("require-item"));
        combo_count = Number($(".combo_count").data("combo-count"));
        if ($(".item_count").data("item-count")){
        item_count = Number($(".item_count").data("item-count"));
        }else{
         item_count = 0
        }

          if (day >= require_day && combo_count >= require_combo && item_count >= require_item){
            final_sum = sum - discount - point;
            var bonus = Number("<%= @point_event.bonus %>");
            $('#sum').text(String(final_sum) + '円');
            $('#create_point').text(String(create_point) - (discount * bonus / 100)   + 'pt');
          }else{
            alert ('クーポン条件にマッチしておりません。')
            $('#sum').text(String(final_sum) + '円');
          }
      }

        $('#out_point').change(function(){
          if ($('#not_point').prop('checked')){
            point = Number($('#not_point').val());
            var final_sum = sum;
          }else if ($('#all_point').prop('checked')){
            if(Number($('#all_point').val()) - sum - discount >= 0){
              point = sum - discount;
            }else if(Number($('#all_point').val()) - sum < 0){
              point = Number($('#all_point').val());
            }
          }else{
            point = Number($('#part_point').val());
            var all_point = Number($('#all_point').val());
            var final_sum = sum;
            if (point > all_point || point > final_sum){
              document.getElementById("button").disabled = true;
            }else{
              document.getElementById("button").disabled = false;
            }
          }
           final_sum = sum - discount - point;
           $('#sum').text(String(final_sum) + '円');
           if(final_sum < 0){
            alert ('利用ポイントが不正な値です')
           }
           var bonus = Number("<%= @point_event.bonus %>");
           $('#sum').text(String(final_sum) + '円');
           $('#create_point').text(String(final_sum * bonus / 100) + 'pt');
           var create_point = final_sum * bonus / 100
           // console.log(create_point);
           document.getElementById("create").value = create_point;
           console.log(document.getElementById("create").value);
        });
    </script>

    <%= f.submit '注文を確定',class: "btn btn-danger",id: "button","data-confirm" => "注文を確定しますか？（利用日時や商品内容は正しいですか？) "%>
  <% end %>

<%= link_to '商品一覧に戻る',users_combo_items_path,class: "btn btn-info confirm-button", data: {"turbolinks" => false}%>