<h2>注文情報確認</h2>

<%= form_with model: @cart_items,url:users_orders_path,mothod: :post do |f| %>
  <p>注文者名:<%= current_user.name %></p>
  <p>クレジットカード情報:<%= session[:order]["get_status"]  %></p>
  <p>受取場所:<%= session[:order]["get_status"] %></p>
  <p>返却場所:
    <%= session[:order]["zip_code"] %>
    <%= session[:order]["address"] %>
  </p>
  <p>利用期間:
    <%= session[:order]["start_date"]%>~
    <%= session[:order]["finish_date"] %>
  </p>
  <p>レンタル期間:<%= session[:order]["day"] %></p>

    <table class="table table-bordered">
      <tr>
        <th>商品名</th>
        <th>個数</th>
        <th>予約日付</th>
        <th>レンタル日数</th>
      </tr>
      <% @cart_items.each do |item| %>
      <tr>
        <td>
            <% if item.combo.id == 1 %>
              <%= link_to users_product_path(item.product) do %>
      　　　     <%= item.product.name %>
              <% end %>
    　　　　 <% else %>
              <%= link_to users_combo_items_path do %>
               <%= item.combo.name %>
              <% end %>
          <% end %>
        </td>
        <td><%= item.quantity %></td>
        <td><%= item.day %></td>
        <td><%= item.day %></td>
      </tr>
      <% end %>
    </table>

    

    <%= f.submit '注文を確定',class: "btn btn-danger" %>
<% end %>

<h3><%= current_user.name %>さんへのおすすめ</h3>

<div class="recommend product">
  <%#= 画像'%>
  <%#= '名前' %>
  <%#='価格' %>
  <%#= 'この商品を追加' %>
</div>
<%= link_to '商品選択に戻る',users_combo_items_path %>


