<h2>注文情報確認</h2>
<%= form_with model: @order,url:users_orders_path,mothod: :post do |f| %>
  <p>注文者名:<%= current_user.name %></p>
  <p>クレジットカード情報:
    番号:
    名義:
    </p>
  <p>受取場所:<%= session[:order]["get_status"] %></p>
  <p>返却場所:
    <% if session[:order]["return_status"] == 0 %>
      <%= session[:order]["get_status"] %>
    <% else %>
      <%= session[:order]["zip_code"] %>
      <%= session[:order]["address"] %>
    <% end %>
  </p>
  <p>利用期間:
    <%= session[:order]["start_date"]%>~
    <%= session[:order]["finish_date"] %>
  </p>
  <p>レンタル期間:<%= session[:order]["day"] %>日間</p>

    <table class="table table-bordered">
      <tr>
        <th>商品名</th>
        <th>個数</th>
        <th>価格/1日</th>
      </tr>
      <% @sum = 0 %>
      <% @cart_items.each do |item| %>
          <tr>
            <td>
                <% if item.combo.id == 1 %>
                  <%= link_to users_product_path(item.product) do %>
          　　　     <%= item.product.name %>
                  <% end %>
        　　　　 <% else %>
                  <%= link_to users_combo_items_path do %>
                    <%= item.combo.name %>
                  <% end %>
                <% end %>
            </td>
            <td><%= item.quantity %></td>
            <td><%= item.combo.price %></td>
          </tr>
        <% @sum += (item.quantity).to_i * (item.combo.price).to_i %>
      <% end %>
    </table>

    <table class="table table-bordered">
      <tr>
        <th>合計金額/1日</th>
        <td><%= @sum %></td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @sum.to_i * (session[:order]["day"]).to_i %></td>
      </tr>
  
      <tr>
        <th>ポイント利用(利用可能ポイント:<%= @point %>pt)</th>
        <td id="out_point">
          <%= f.radio_button :out_point, 0, id: "not_point",checked: "checked" %>使わない<br/>
          <%= f.radio_button :out_point, @point, id: "all_point" %>全部使う<br/>
          <%= f.radio_button :out_point, @part_point %>一部だけ使う(利用ポイント数記入）<br/>
          <%= f.text_field :out_point, id: "part_point" %>pt
        </td>
      </tr>
      <% @final_sum = (@sum.to_i * (session[:order]["day"]).to_i) %>
      <tr>
        <th>最終請求金額</th>
        <td id="final_sum"><%= @final_sum %></td>
      </tr>

      <tr>
        <th>発行ポイント数</th>
        <td><%= ((@sum.to_i * (session[:order]["day"]).to_i)/ 100.to_i).floor %>ポイント</td>
      </tr>
    </table>
    <%= f.hidden_field :create_point, :value => ((@sum.to_i * (session[:order]["day"]).to_i)/ 100.to_i).floor.to_i %>

    <script type="text/javascript">
      var sum = Number("<%= @final_sum %>");
      $('#out_point').change(function(){
        if ($('#not_point').prop('checked')){
          var val = Number($('#not_point').val());
        }else if ($('#all_point').prop('checked')){
          var val = Number($('#all_point').val());
        }else{
          var val = Number($('#part_point').val());
          var all = Number($('#all_point').val());
          if (val > all){
            document.getElementById("button").disabled = true;
          }else{
            document.getElementById("button").disabled = false;
          }
        }
         $('#final_sum').text(String(sum - val) + ' 円');
       });

    </script>

    <%= f.submit '注文を確定',class: "btn btn-danger",id: "button" %>
<% end %>

<h3><%= current_user.name %>さんへの単品商品おすすめ</h3>

<div class="recommend product">
  <% @combo_items.each do |combo_item| %>
    <% if combo_item.combo_id == 1 %>
      <div id="all"><%= combo_item.product.id %></div>
    <% end %>
  <% end %>
 <p></p>
  <% @cart_items.each do |item| %>
    <% if item.combo_id == 1 %>
      <div id="have"><%= item.product.id %></div>
    <% end %>
  <% end %>

  <script type="text/javascript">
    var have = Number($('#have').val());
    var all = Number($('#all').val());
    console.log(have);
    console.log(all);
    
  </script>

  <%#= 画像'%>
  <%#= '名前' %>
  <%#='価格' %>
  <%#= 'この商品を追加' %>
</div>
<%= link_to '商品一覧に戻る',users_combo_items_path %>


