<h2>注文履歴一覧</h2>

<table class="table-bordered">
  <tr>
    <th>注文日</th>
    <th>レンタル期間</th>
    <th>レンタル日数</th>
    <th>セット名</th>
    <th>貸出返却ステータス</th>
    <th>注文詳細</th>
  </tr>
  <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order.created_at.strftime("%Y-%m-%d %H:%M") %>
        </td>
        <td>
          <%= order.start_date %>~<%= order.finish_date %>
        </td>
        <td><%= order.day %></td>
        <td>
          <% order.order_records.each do |order_record| %>
            <% if order_record.combo.id == 1 %>
              <%= order_record.product.name %>
            <% else %>
              <%= order_record.combo.name %>
            <% end %>
          <% end %>
        </td>
          <td><%= order.status %></td>
          <td><%= link_to '注文詳細',users_order_path(order),class: "btn btn-info" %></td>
      </tr>
  <% end %>
</table>
<%= paginate @orders %>
