<h2>購入情報入力</h2>
<%= form_with url:users_orders_save_path,method: :post do |f| %>
<h4>クレジットカード選択</h4>

<h4>受取場所選択</h4>
  <%= f.select :get_status, Order.get_statuses.keys.to_a, {} %>
<h4>返却場所</h4>
  <%= f.radio_button :return_status,0,checked: "checked" %>受取場所と同様<br/>
  <%= f.radio_button(:return_status,1) %>現住所から郵送返却<br/>
    <%= current_user.zip_code %>
    <%= current_user.address %><br/>
  <%= f.radio_button(:return_status,2) %>新しい住所から郵送返却<br/>
    <%= f.text_field :zip_code %>
    <%= f.text_field :address %><br/>

<h4>レンタル期間選択</h4>
　<%= date_field_tag :start_date %> ~ 
  <%= date_field_tag :finish_date %><br/>


  <script type="text/javascript">

    $('#start_date').change(function() {
      d1 = new Date(document.getElementById("start_date").value);
      d2 = new Date(document.getElementById("finish_date").value);
      get_date(d1, d2)
    });

    $('#finish_date').change(function() {
      d1 = new Date(document.getElementById("start_date").value);
      d2 = new Date(document.getElementById("finish_date").value);
      get_date(d1, d2)
    });

    var today = new Date(Date.now());

    function get_date(start_date, finish_date){
      if (d1 && d2){
        var date = (d2-d1)/(24*60*60*1000);
        if (Math.sign(date) == -1　||　today > d1){
          document.getElementById("button").disabled = true;
        }else{
          document.getElementById("button").disabled = false;
          var q = document.createElement('input');
          q.type = 'hidden';
          q.name = "day";
          q.value = date;
          document.forms[0].appendChild(q);
        // console.log(document.forms[0]);
        }
      }else{
        alert ('利用期間の入力に誤りがあります');
        return
      }
    }
  </script>

  <%= f.submit '注文確認画面へ進む',class: "btn btn-primary",id: "button" %>
<% end %>