<div class="row">
  <h2>注文履歴詳細</h2>

 <div class="col-md-12">
  <h4>注文情報</h4>
  <table class="table table-bordered">
    <tr>
      <th>注文日</th>
      <td>
        <%= @order.created_at.strftime('%Y/%m/%d　%H:%M') %>
      </td>
    </tr>

    <tr>
      <th>受取場所</th>
      <td>
        <%= @order.get_status %>
      </td>
    </tr>

    <tr>
      <th>予定受取日</th>
      <td><%= @order.start_date %></td>
    </tr>

    <tr>
      <th>返却場所</th>
      <td>
        <% if @order.return_status == 0 %>
          <%= @order.get_status %>
        <% else %>
          <%= @order.zip_code %></br>
          <%= @order.address %></br>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>予定返却時間</th>
      <td><%= @order.finish_date %></td>
    </tr>
    <tr>
      <th>クレジット情報</th>
      <td>
        番号:<%= @order.pay.number %></br/>
        名義:<%= @order.pay.name %>
      </td>
    </tr>

    <tr>
      <th>貸し出し返却ステータス</th>
      <td>
          <%= @order.status %>
      </td>
    </tr>
    <tr>
      <th>支払いステータス</th>
        <% if @order.pay_status %>
          <td>支払済</td>
        <% else %>
          <td>未支払</td>
        <% end %>
    </tr>
  </table>
 </div>

<% sum = 0 %>
<h4>注文内容</h4>
  <table class="table table-bordered">
    <tr>
      <th>商品</th>
      <th>価格</th>
      <th>個数</th>
      <th>レンタル日数</th>
      <th>小計</th>
    </tr>

    <% @order.order_records.each do |order_record| %>
    <tr>
        <td>
          <% if order_record.combo.id == 1 %>
            <%= order_record.product.name %>
          <% else %>
            <%= order_record.combo.name %>
          <% end %>
        </td>
        <td>
            <%= order_record.end_price %>
        </td>
        <td>
          <%= order_record.quantity %>
        </td>
        <td>
          <%= @order.day %>日
        </td>
        <td>
          <%= (((order_record.end_price.to_i) * 1.1) * order_record.quantity.to_i * @order.day.to_i).floor %>
        </td>
    </tr>
    <% sum += (((order_record.end_price.to_i) * 1.1) * order_record.quantity.to_i * @order.day.to_i).floor  %>
    <% end %>
  </table>

  <div class="col-md-12">
    <h4>請求情報</h4>

    <table class="table table-bordered">
      <tr>
        <th>商品合計</th>
        <td><%= sum %></td>
      </tr>
      <tr>
        <th>利用ポイント</th>
        <td>
          <% if @order.out_point.point.nil? %>
            <%= "0pt" %>
          <% else %>
            <%= @order.out_point.point %>pt
          <% end %>
        </td>
      </tr>
      <tr>
        <th>クーポン</th>
        <td>
          <%= @order.discount.price %>円
        </td>
      </tr>
      <tr>
        <th>ご請求金額</th>
        <td>
          <% if @order.discount.id.nil? %>
            <% if @order.out_point.point.nil? %>
              <%= sum %>円
            <% else %>
              <%= sum - @order.out_point.point %>円
            <% end %>
          <% else %>
            <% if @order.out_point.point.nil? %>
              <%= sum - @order.discount.price.to_i %>円
            <% else %>
              <%= sum - @order.out_point.point - @order.discount.price.to_i %>円
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>発行ポイント</th>
        <td>
          <%= @order.create_point * @order.point_event.bonus %>pt
        </td>
      </tr>
    </table>
   </div>
  </div>