<h2>アイテム一覧</h2>

<table class="table table-bordered">
  <tr>
    <th>セット検索</th>
  </tr>
  <% @combos.each do |combo| %>
  <tr>
    <td>
      <%= link_to("#{combo.name}",admins_combo_items_path(combo_id: combo.id)) %>
    </td>
  </tr>
  <% end %>
</table>


<table class="table table-bordered">
  <tr>
    <th>商品id</th>
    <th>商品名</th>
    <th>商品画像</th>
    <th>ジャンル</th>
    <th>販売ステータス</th>
    <th>コンボステータス</th>
  </tr>
  <% @combo_items.each do |combo_item| %>
  <tr>
    <td>
      <%= link_to admins_product_path(combo_item) do %>
       <%= combo_item.product.id %>
      <% end %>
    </td>
    <td><%= combo_item.product.name %></td>
    <td><%= combo_item.id %></td>
    <td><%= combo_item.combo.name %></td>
    <% if combo_item.product.status %>
      <td>販売中</td>
     <% else %>
      <td>売切</td>
    <% end %>

    <td><%= combo_item.combo.name %></td>
  </tr>

  <% end %>
</table>