<div class="row">
  <h2>クーポン一覧</h2>
  <div class="col-md-12">
    <table class="table tbl-r04"align="center">
      <tr class="thead">
        <th>クーポン名</th>
        <th>クーポン番号</th>
        <th>説明</th>
        <th>割引金額</th>
        <th>期間</th>
        <th></th>
      </tr>

      <% @discounts.each do |discount| %>
        <% unless discount.id == @discount.id %>
          <tr>
            <td>
              <%= link_to users_discount_path(discount) do %>
                <%= discount.name %>
              <% end %>
            </td>
            <td>クーポン番号:<%= discount.number %></td>
            <td><%= discount.introduction %></td>
            <td><%= discount.price %>円</td>
            <td>
              <%= discount.start_date %>から<br/>
              <%= discount.finish_date %>日0時まで有効
            </td>
              <% if discount.status %>
                <td>利用可</td>
              <% else %>
                <td>ご利用終了</td>
              <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
    <%= paginate @discounts %>
  </div>
</div>