<h2>商品　情報編集</h2>
<div class="row">
  <%= form_for @product,url: admins_product_path do |f|%>
  <div class="col-xs-5">
    <%= f.attachment_field :product_image %>
  </div>
    <div class="col-xs-7">
      <table class="table">
      <tr>
        <th>商品名</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>商品説明</th>
        <td><%= f.text_field :introduction %></td>
      </tr>
      <tr>
        <th>ジャンル</th>
        <td><%= f.collection_select :product_kind_id,ProductKind.all, :id, :name %></td>
      </tr>
      <tr>
        <th>在庫数</th>
        <td><%= f.number_field :stock %></td>
      </tr>

      </table>
    </div>
         <div class="text-right">
            <%= f.submit "変更を保存", class: "btn btn-info" %>
         </div>
  <% end %>

<h2>商品　セット情報編集</h2>
  <%= form_with model: @combo_item,url: admins_combo_item_path,method: :patch do |f|%>
  <%= f.hidden_field :product_id, :value => @product.id %>

      <table class="table">
      <tr>
        <th>セット選択</th>
        <td>
          <%= f.collection_select :combo_id,Combo.all, :id, :name, prompt: "選択してください" %>
        </td>
      </tr>
      </table>
         <div class="text-right">
            <%= f.submit "セット情報を変更", class: "btn btn-info" %>
         </div>
  <% end %>