<h2>商品詳細(セットアイテム追加画面）</h2>
<div class="row">
   <%= form_for @combo_item,url:admins_combo_items_path(@combo_item) do |f| %>
    <%= f.hidden_field :product_id, :value => @product.id %>

    <div class="col-md-12">
      <div class="product-image"align="center">
        <%= attachment_image_tag @product, :product_image, :fill, 300, 300, fallback: "no_image.jpg" %>
      </div>
    </div>

    <div class="col-md-12">
       <table class="table table-bordered">
            <tr>
              <th>商品id</th>
              <td><%= @product.id %></td>
            </tr>

            <tr>
              <th>商品名</th>
              <td><%= @product.name %></td>
            </tr>

            <tr>
              <th>商品説明</th>
              <td><%= @product.introduction %></td>
            </tr>

            <tr>
              <th>ジャンル</th>
              <td><%= @product.product_kind.name %></td>
            </tr>

            <% unless @comboitem.blank? %>
              <tr>
                <th>追加セット名</th>
                <td>
                    <%= @comboitem.combo.name %>
               </td>
              </tr>
              <% else %>
              <tr>
               <th>セット選択</th>
               <td>
                 <%= f.collection_select :combo_id,Combo.all, :id, :name, prompt: "選択してください"%>
               </td>
              </tr>
            <% end %>

            <tr>
             <th></th>
             <td>
               <%= link_to '編集する',edit_admins_product_path(@product), class: "btn btn-info" %>
               <%= link_to '削除',admins_product_path(@product),method: :delete, class: "btn btn-danger" %>
             </td>
            </tr>
      </table>
      <% if @comboitem.blank? %>
        <%= f.submit '選択セットへ追加', class: "btn btn-info" %>
      <% end %>
    </div>
  <% end %>
</div>