<h2>商品詳細</h2>


<div class="row">
   <%= form_for @combo_item,url:admins_combo_items_path(@combo_item) do |f| %>
    <%= f.hidden_field :product_id, :value => @product.id %>


    <div class="col-xs-6">
        <%= attachment_image_tag @product,:product_image,:fill,300,300, fallback:"no_image.jpg" %>
    </div>

    <div class="col-xs-6">

      <%= link_to new_admins_product_path do %>
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
      <% end %>
      
     <table class="table table-bordered">
          <tr>
            <th>商品id</th>
            <td><%= @product.id %></td>
          </tr>

          <tr>
            <th>商品名</th>
            <td><%= @product.name %></td>
          </tr>

          <tr>
            <th>商品説明</th>
            <td><%= @product.introduction %></td>
          </tr>

          <tr>
            <th>ジャンル</th>
            <td><%= @product.product_kind.name %></td>
          </tr>

          <tr>
            <th>販売ステータス</th>
            <% @product_records = OrderRecord.where(product_id: @product.id) %>
              <% @product_records.each do |record| %>
              <% @quantity = record.quantity %>
              <% end %>
                <% if @product.stock - (@product_records.joins(:order).where(orders: {status: "予約受付中"}).count * @quantity) - (@product_records.joins(:order).where(orders: {status: "貸出中"}).count * @quantity) - (@product_records.joins(:order).where(orders: {status: "郵送中"}).count * @quantity) <= 0 %>
                  <td>売切</td>
                <% else %>
                  <td>販売中</td>
                <% end %>
         </tr>

         <tr>
           <th>個数</th>
           <td>
             <%= f.select :quantity,[1,2,3,4,5,6,7,8,9,10] %>
           </td>
         </tr>

         <tr>
           <th>セット選択</th>
           <td>
             <%= f.collection_select :combo_id,Combo.all, :id, :name %>
           </td>
         </tr>
    </table>
      <%= link_to '編集する',edit_admins_product_path(@product) %>

      <%= f.submit '上記セットアイテムに追加',class: "btn btn-primary" %>
    </div>
  <% end %>
</div>