<h2>クレジット情報一覧</h2>
<%= link_to 'カートへ戻る',users_cart_items_path(current_user),class: "btn btn-info" %>
<%= form_with model: @pay,url:users_pays_path do |f| %>
  <table class="table table-bordered">
    <tr>
      <th>クレジット番号</th>
      <td><%= f.text_field :number %></td>
    </tr>

    <tr>
      <th>クレジット名義</th>
      <td><%= f.text_field :name %></td>
    </tr>

  </table>
  <%= f.submit '新規登録',class: "btn btn-info" %>
<% end %>

<table class="table table-bordered">
  <tr>
    <th>クレジット番号</th>
    <th>クレジット名義</th>
  </tr>
  <% @pays.each do |pay| %>
    <tr>
      <td><%= pay.number %></td>
      <td><%= pay.name %></td>
      <td>
        <%= link_to '編集する',edit_users_pay_path(pay) %>
        <%= link_to '削除する',users_pay_path(pay) ,method: :delete,data:{confirm:"本当に削除しますか？"} %>
      </td>
    </tr>
    <% end %>
</table>