<h2>貸出返却履歴一覧</h2>
<%= link_to '全注文一覧',admins_orders_path, class: "btn btn-info" %>

<h4>検索</h4>
  <%= form_tag(search_admins_orders_path, method: :get) do %>
    <%= select(@search_content, :search_kind,[["受取日","start_date"],["返却日","finish_date"],["注文者名","user_name"]]) %>

    <%= text_field(@search_content, :search) %>
    <%= submit_tag '検索',:name => nil %>
  <% end %>

<table class="table-bordered">
  <tr>
    <th>注文者名</th>
    <th>受取日</th>
    <th>返却日</th>
    <th>レンタル日数</th>
    <th>商品名</th>
    <th>貸出返却ステータス</th>
    <th>注文詳細</th>
  </tr>
  <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td>
          <%= order.start_date %>
        </td>
        <td>
          <%= order.finish_date %>
        </td>
        <td><%= order.day %></td>
          <td>
            <% order.order_records.each do |order_record| %>
              <% if order_record.combo_id == 1 %>
                <%= order_record.product.name %>
              <% else %>
                <%= order_record.combo.name %>
              <% end %>
            <% end %>
          </td>
          <td><%= order.status %></td>
          <td><%= link_to '注文詳細',admins_order_path(order),class: "btn btn-info",data: {"turbolinks" => false} %></td>
      </tr>
  <% end %>
</table>