<h2>在庫管理</h2>

<table class="table table-bordered">
  <tr>
    <th>全注文数</th>
    <th>予約数</th>
    <th>貸出数</th>
    <th>郵送返却数</th>
  </tr>
  <tr>
    <td><%= @orders.count %></td>
    <td><%= @reserves.count %></td>
    <td><%= @lendings.count %></td>
    <td><%= @returns.count %></td>
  </tr>
</table>

  <% reserve_sum1 = 0 %>
  <% reserve_sum2 = 0 %>
  <% reserve_sum3 = 0 %>
  <% reserve_sum4 = 0 %>
<% @reserves.each do |order| %>
  <% order.order_records.each do |record| %>
    <% if record.combo.id == 1 %>
      <% q1 = record.quantity %>
    <% elsif record.combo.id == 2 %>
      <% q2 = record.quantity %>
    <% elsif record.combo.id == 3 %>
      <% q3 = record.quantity %>
    <% elsif record.combo.id == 4 %>
      <% q4 = record.quantity %>
    <% end %>
    <% reserve_sum1 += q1.to_i %>
    <% reserve_sum2 += q2.to_i %>
    <% reserve_sum3 += q3.to_i %>
    <% reserve_sum4 += q4.to_i %>
  <% end %>
<% end %>

  <% lendings_sum1 = 0 %>
  <% lendings_sum2 = 0 %>
  <% lendings_sum3 = 0 %>
  <% lendings_sum4 = 0 %>
<% @lendings.each do |order| %>
  <% order.created_at.strftime("%Y-%m-%d")%>
  <% order.order_records.each do |record| %>
    <% if record.combo.id == 1 %>
      <% q1 = record.quantity %>
    <% elsif record.combo.id == 2 %>
      <% q2 = record.quantity %>
    <% elsif record.combo.id == 3 %>
      <% q3 = record.quantity %>
    <% elsif record.combo.id == 4 %>
      <% q4 = record.quantity %>
    <% end %>
    <% lendings_sum1 += q1.to_i %>
    <% lendings_sum2 += q2.to_i %>
    <% lendings_sum3 += q3.to_i %>
    <% lendings_sum4 += q4.to_i %>
  <% end %>
<% end %>

  <% returns_sum1 = 0 %>
  <% returns_sum2 = 0 %>
  <% returns_sum3 = 0 %>
  <% returns_sum4 = 0 %>
<% @returns.each do |order| %>
  <% order.created_at.strftime("%Y-%m-%d")%>
  <% order.order_records.each do |record| %>
    <% if record.combo.id == 1 %>
      <% q1 = record.quantity %>
    <% elsif record.combo.id == 2 %>
      <% q2 = record.quantity %>
    <% elsif record.combo.id == 3 %>
      <% q3 = record.quantity %>
    <% elsif record.combo.id == 4 %>
      <% q4 = record.quantity %>
    <% end %>
    <% returns_sum1 += q1.to_i %>
    <% returns_sum2 += q2.to_i %>
    <% returns_sum3 += q3.to_i %>
    <% returns_sum4 += q4.to_i %>
  <% end %>
<% end %>

<h4>セット在庫一覧</h4>
<table class="table table-bordered">
  <tr>
    <th>セット名</th>
    <th>予約注文数</th>
    <th>貸出数</th>
    <th>郵送返却数</th>
  </tr>
  <% @combos.each do |combo| %>
    <% if combo.id == 1 %>
      <tr>
        <td>
          <%= link_to admins_combo_items_path do %>
            <%= combo.name %>
          <% end %>
        </td>
        <td><%= reserve_sum1 %></td>
        <td><%= lendings_sum1 %></td>
        <td><%= returns_sum1 %></td>
      </tr>

    <% elsif combo.id == 2 %>
      <tr>
        <td>
          <%= link_to admins_combo_items_path do %>
            <%= combo.name %>
          <% end %>
        </td>
        <td><%= reserve_sum2 %></td>
        <td><%= lendings_sum2 %></td>
        <td><%= returns_sum2 %></td>
      </tr>

    <% elsif combo.id == 3 %>
      <tr>
        <td>
          <%= link_to admins_combo_items_path do %>
            <%= combo.name %>
          <% end %>
        </td>
        <td><%= reserve_sum3 %></td>
        <td><%= lendings_sum3 %></td>
        <td><%= returns_sum3 %></td>
      </tr>

    <% else %>
      <tr>
        <td>
          <%= link_to admins_combo_items_path do %>
            <%= combo.name %>
          <% end %>
        </td>
        <td><%= reserve_sum4 %></td>
        <td><%= lendings_sum4 %></td>
        <td><%= returns_sum4 %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h4>商品在庫一覧</h4>
<table class="table table-bordered">
  <tr>
    <th>セット名</th>
    <th>商品名</th>
    <th>在庫数</th>
    <th>予約受付中</th>
    <th>貸出数</th>
    <th>郵送返却中</th>
    <th>販売ステータス</th>
  </tr>
  <% @combos.each do |combo| %>
    <% if combo.id == 1 %>
      <% combo.combo_items.each do |combo_item| %>
      <%# @product = OrderRecord
      <%# if combo_item.product.id == @product.id %>
        <tr>
          <td><%= combo.name %></td>
          <td>
            <%= link_to admins_product_path(combo_item.product) do %>
            　<%= combo_item.product.name %>
          　<% end %>
          </td>
          <td><%= combo_item.product.stock - reserve_sum1.to_i - lendings_sum1.to_i - returns_sum1.to_i %></td>
          <td><%= reserve_sum1 %></td>
          <td><%= lendings_sum1 %></td>
          <td><%= returns_sum1 %></td>
          <% if combo_item.product.stock - reserve_sum1.to_i - lendings_sum1.to_i - returns_sum1.to_i <= 0 %>
            <td>売切</td>
          <% else %>
            <td>販売中</td>
          <% end %>
        </tr>
      <% end %>

    <% elsif combo.id == 2 %>
      <% combo.combo_items.each do |combo_item| %>
        <tr>
          <td><%= combo.name %></td>
          <td>
            <%= link_to admins_product_path(combo_item.product) do %>
            　<%= combo_item.product.name %>
          　<% end %>
          </td>
          <td><%= combo_item.product.stock - reserve_sum2.to_i - lendings_sum2.to_i - returns_sum2.to_i %></td>
          <td><%= reserve_sum2 %></td>
          <td><%= lendings_sum2 %></td>
          <td><%= returns_sum2 %></td>
          <% if combo_item.product.stock - reserve_sum2.to_i - lendings_sum2.to_i - returns_sum2.to_i <= 0 %>
            <td>売切</td>
          <% else %>
            <td>販売中</td>
          <% end %>
        </tr>
      <% end %>

    <% elsif combo.id == 3 %>
      <% combo.combo_items.each do |combo_item| %>
        <tr>
          <td><%= combo.name %></td>
          <td>
            <%= link_to admins_product_path(combo_item.product) do %>
            　<%= combo_item.product.name %>
          　<% end %>
          </td>
          <td><%= combo_item.product.stock - reserve_sum3.to_i - lendings_sum3.to_i - returns_sum3.to_i %></td>
          <td><%= reserve_sum3 %></td>
          <td><%= lendings_sum3 %></td>
          <td><%= returns_sum3 %></td>

          <% if combo_item.product.stock - reserve_sum3.to_i - lendings_sum3.to_i - returns_sum3.to_i <= 0 %>
            <td>売切</td>
          <% else %>
            <td>販売中</td>
          <% end %>
        </tr>
      <% end %>

    <% else %>
      <% combo.combo_items.each do |combo_item| %>
        <tr>
          <td><%= combo.name %></td>
          <td>
            <%= link_to admins_product_path(combo_item.product) do %>
            　<%= combo_item.product.name %>
          　<% end %>
          </td>
          <td><%= combo_item.product.stock - reserve_sum4.to_i - lendings_sum4.to_i - returns_sum4.to_i %></td>
          <td><%= reserve_sum4 %></td>
          <td><%= lendings_sum4 %></td>
          <td><%= returns_sum4 %></td>
          <% if combo_item.product.stock - reserve_sum4.to_i - lendings_sum4.to_i - returns_sum4.to_i <= 0 %>
            <td>売切</td>
          <% else %>
            <td>販売中</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>