<h2>在庫管理</h2>

<table>
  <tr>
    <th>商品名</th>
    <th>現在庫数</th>
    <th>現貸出数</th>
    <th>現注文数</th>
  </tr>
  <%= @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.stock %></td>
      <td><%= product.order_record.status.count %></td>
      <td><%= product.order_record.status.count %></td>
    </tr>
  <% end %>
</table>