<h2>在庫管理</h2>

<table class="table table-bordered">
  <tr>
    <th>全注文数</th>
    <th>予約注文数</th>
    <th>貸出注文数</th>
    <th>郵送返却数</th>
  </tr>
  <tr>
    <td><%= @orders.count %></td>
    <td><%= @reserves.count %></td>
    <td><%= @lendings.count %></td>
    <td><%= @returns.count %></td>
  </tr>
</table>

<h4>セット在庫一覧</h4>
<table class="table table-bordered">
  <tr>
    <th>セット名</th>
    <th>予約注文数</th>
    <th>貸出数</th>
    <th>郵送返却数</th>
  </tr>
  <% @combos.each do |combo| %>
    <% if combo.id == 1 %>
    <% else %>
      <tr>
        <td>
          <%= link_to admins_combo_items_path do %>
            <%= combo.name %>
          <% end %>
        </td>
        <% @combo_records = OrderRecord.where(combo_id: combo.id) %>
        <td><%= @combo_records.joins(:order).where(orders: {status: "予約受付中"}).count %></td>
        <td><%= @combo_records.joins(:order).where(orders: {status: "貸出中"}).count %></td>
        <td><%= @combo_records.joins(:order).where(orders: {status: "郵送中"}).count %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<h4>商品在庫一覧</h4>
<table class="table table-bordered">
  <tr>
    <th>商品名</th>
    <th>在庫数</th>
    <th>予約受付中</th>
    <th>貸出数</th>
    <th>郵送返却中</th>
    <th>販売ステータス</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td>
        <%= link_to admins_product_path(product) do %>
        　<%= product.name %>
      　<% end %>
      </td>
      <% @product_records = OrderRecord.where(product_id: product.id) %>
      <% @product_records.each do |record| %>
      <% @quantity = record.quantity %>
      <% end %>
      <td><%= product.stock - (@product_records.joins(:order).where(orders: {status: "予約受付中"}).count * @quantity) - (@product_records.joins(:order).where(orders: {status: "貸出中"}).count * @quantity) - (@product_records.joins(:order).where(orders: {status: "郵送中"}).count * @quantity) %></td>
      <td><%= @product_records.joins(:order).where(orders: {status: "予約受付中"}).count * @quantity %></td>
      <td><%= @product_records.joins(:order).where(orders: {status: "貸出中"}).count * @quantity %></td>
      <td><%= @product_records.joins(:order).where(orders: {status: "郵送中"}).count * @quantity %></td>
      <% if product.stock - (@product_records.joins(:order).where(orders: {status: "予約受付中"}).count * @quantity) - (@product_records.joins(:order).where(orders: {status: "貸出中"}).count * @quantity) - (@product_records.joins(:order).where(orders: {status: "郵送中"}).count * @quantity) <= 0 %>
        <td>売切</td>
      <% else %>
        <td>販売中</td>
      <% end %>
  <% end %>
</table>