<%= current_admin.name %>さんようこそ
<h2>管理者トップ</h2>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>
      <h4>イベント情報</h4>
      <% unless @discount.nil? %>
        <%= @discounts.each do |discount| %>
          <h4><%= discount.name %>開催中！！</h4></br>
        <% end %>
      <% else %>
        <h4>現在クーポンはありません</h4>
      <% end %>
      <% unless @point_event.nil? %>
        <h4><%= @point_event.name %>開催中！！</h4>
      <% else %>
        <h4>現在ポイントイベントはありません</h4>
      <% end %>
    </strong>
</div>
<button class="button"><%= link_to '貸出返却',admins_orders_path %></button>

<button class="button"><%= link_to '在庫',admins_orders_stock_path %></button>


<button class="button"><%= link_to '問い合わせ',admins_questions_path %></button>

<button class="button"><%= link_to '商品設定',admins_products_path %></button>

<button class="button"><%= link_to 'イベント',admins_point_events_path %></button>

<button class="button"><%= link_to 'クーポン',admins_discounts_path %></button>


