<h2><%= current_admin.name %>さんのページ</h2>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>
      <h4>イベント情報</h4>
      <% unless @discount.nil? %>
        <%= @discounts.each do |discount| %>
          <h4><%= discount.name %>開催中！！</h4></br>
        <% end %>
      <% else %>
        <h4>現在クーポンはありません</h4>
      <% end %>
      <% unless @point_event.nil? %>
        <h4><%= @point_event.name %>開催中！！</h4>
      <% else %>
        <h4>現在ポイントイベントはありません</h4>
      <% end %>
    </strong>
</div>

<h2>
<%= link_to admins_orders_path do %>
  <a href="#" class="btn-flat-border">貸出返却</a>
<% end %>

<%= link_to admins_orders_stock_path do %>
  <a href="#" class="btn-flat-border">在庫</a>
<% end %>

<%= link_to admins_orders_path do %>
  <a href="#" class="btn-flat-border">お問い合わせ</a>
<% end %>
</h2>

<h2>
<%= link_to admins_orders_path do %>
  <a href="#" class="btn-flat-border">商品設定</a>
<% end %>

<%= link_to admins_orders_path do %>
  <a href="#" class="btn-flat-border">イベント</a>
<% end %>

<%= link_to admins_orders_path do %>
  <a href="#" class="btn-flat-border">クーポン</a>
<% end %>

</h2>
