<h2><%= current_admin.name %>さんのページ</h2>

<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>
      <h4>イベント情報</h4>
      <% unless @point_event.id == 1 %>
        <h4><%= @point_event.name %>開催中！！</h4>
      <% else %>
        <h4>現在ポイントイベントはありません</h4>
      <% end %>
    </strong>
</div>

<h2>
  <%= link_to '貸出返却',admins_orders_path,class: "btn btn-info" %>

  <%= link_to '在庫管理',admins_orders_stock_path,class: "btn btn-info" %>

  <%= link_to 'お問い合わせ',admins_questions_inquiry_index_path,class: "btn btn-info" %>

  <%= link_to '商品設定',admins_products_path,class: "btn btn-info" %>

  <%= link_to 'イベント',admins_point_events_path,class: "btn btn-info" %>

  <%= link_to 'クーポン',admins_discounts_path,class: "btn btn-info" %>
</h2>
